<mat-card>
  <mat-card-header>
    <mat-card-title>Alterar ou Excluir Mill</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form>
      <mat-form-field>
        <mat-label>Digitar o ID do Usuario</mat-label>
        <input matInput [(ngModel)]="id" name="idText" required>
      </mat-form-field>
      <button mat-raised-button color="primary" (click)="buscarUsuario()">Consultar</button>

    </form>
  </mat-card-content>
</mat-card>

<mat-card-content>
  <mat-card *ngIf="isAtivo">
    <mat-card-header>
      <mat-card-title>Resultado</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <form>
        <mat-form-field>
          <mat-label>ID</mat-label>
          <input matInput placeholder="" [(ngModel)]="users.id" name="id">
        </mat-form-field>
        <mat-form-field>
          <mat-label>Mill ID</mat-label>
          <input matInput placeholder="" [(ngModel)]="users.millId" name="millID">
        </mat-form-field>
        <mat-form-field>
          <mat-label>ShortName</mat-label>
          <input matInput placeholder="" [(ngModel)]="users.shortName" name="shortName">
        </mat-form-field><br />
        <button mat-raised-button color="primary" (click)="alterarUsuario()">Alterar</button>ㅤ
        <button mat-raised-button color="primary" (click)="excluirUsuario()">Excluir</button>
      </form>
    </mat-card-content>
  </mat-card>
  <div *ngIf="isAlterado">
    Alterado Com Sucesso!
  </div>
  <div *ngIf="isExcluir">
    Excluído Com Sucesso!
  </div>
  <br /><br />
  <p>
    <button mat-raised-button color="primary" routerLink="/mill-edu">
      <span>Voltar</span>
    </button>
  </p>

  <!--
  <app-ps-table title="Gestão de Usuário" [dataSource]="arrayUsers" [columnsToDisplay]="['id', 'name', 'login', 'created','modified']"></app-ps-table>

  <app-user-alter [idChild]="id" [user]="arrayUsers[0]" [columnsToDisplay]="['id', 'name', 'login', 'created','modified']"></app-user-alter>

  -->

