.container {
   display: flex;
   height: 75vh;
   width: 100%;
}
.container-center {
   display: flex;
   justify-content: center;
   align-items: center;
   height: 75vh;
   width: 100%;
 }

mat-card-content.menu {
   display: flex;
   flex-direction: column;
   
}

button.menuItem {
   display: flex;
   justify-content: left;
   margin-bottom: 2px;
}

.spacer
{
   flex: 1 1 auto;
}