<mat-toolbar color="primary">
  <mat-toolbar-row>
    <button mat-icon-button (click)="drawer.toggle()"><mat-icon>menu</mat-icon></button>
    <img width="15%" src="../assets/Images/Paper Logo Completo Branco.png" />
    <span class="spacer"></span>
    <ng-container *ngIf="!isLoggedIn()"> 
      <button class="menuItem" mat-button  (click)="login()">
      <mat-icon>login</mat-icon><span>Login</span>
      </button>
    </ng-container>
    <ng-container *ngIf="isLoggedIn()"> 
      <span>{{username}}</span>
      <button class="menuItem" mat-icon-button (click)="logout()">
        <mat-icon>logout</mat-icon>
      </button>
    </ng-container>
  </mat-toolbar-row>
</mat-toolbar>
<mat-drawer-container [hasBackdrop]="true">
  <mat-drawer #drawer mode="over" style="min-width: 20%;">
    <mat-card>
      <mat-card-content class="menu">
        <button class="menuItem" mat-button routerLink="/">
          <mat-icon>home</mat-icon> <span>Home</span>
        </button>
        <button class="menuItem" mat-button routerLink="/users">
          <mat-icon>person</mat-icon><span>Usuários</span>
        </button>
        <button class="menuItem" mat-button routerLink="/login">
          <mat-icon>person_add</mat-icon> <span>Cadastrar Usuário</span>
        </button>
      </mat-card-content>
    </mat-card>
  </mat-drawer>
  <mat-drawer-content>
    <mat-card style="min-height: fit-content;">
      <mat-card-content>
        <router-outlet></router-outlet>
      </mat-card-content>
    </mat-card>
  </mat-drawer-content>
</mat-drawer-container>
