<mat-toolbar color="primary">
  <mat-toolbar-row>
    <button mat-icon-button (click)="drawer.toggle()"><mat-icon>menu</mat-icon></button>
    <img width="15%" src="../assets/Images/Paper Logo Completo Branco.png" />
    <span class="spacer"></span>
    <ng-container *ngIf="!isLoggedIn()">
      <button class="menuItem" mat-button (click)="login()">
        <mat-icon>login</mat-icon><span>Login</span>
      </button>
    </ng-container>
    <ng-container *ngIf="isLoggedIn()">
      <span>{{name}}</span>
      <button class="menuItem" mat-icon-button (click)="logout()">
        <mat-icon>logout</mat-icon>
      </button>
      <button class="menuItem" mat-icon-button (click)="fetch()">
        <mat-icon>refresh</mat-icon>
      </button>
    </ng-container>
  </mat-toolbar-row>
</mat-toolbar>


<mat-drawer-container [hasBackdrop]="true">
  <mat-drawer #drawer mode="over" style="min-width: 20%;">
    <mat-card>
      
      <mat-card-content class="menu">
        <button class="menuItem" mat-button routerLink="/">
          <mat-icon>home</mat-icon> <span>Home</span>
        </button>

        <button class="menuItem" mat-button (click)="toggleUsers()">
          <span>Usuários</span>
          <mat-icon class="mat-icon-rtl-mirror">
            {{isUsersOpen ? 'expand_less' : 'expand_more'}}
          </mat-icon>
        </button>

        <ng-container *ngIf="isUsersOpen">
          <button class="menuItem subItem" mat-button routerLink="/users" (click)="drawer.toggle()">
            <mat-icon style="padding-left: 50px;"> list_alt</mat-icon>
            <span> Users List</span>
          </button>

          <button class="menuItem subItem" mat-button routerLink="/cadastro-flavia" (click)="drawer.toggle()">
            <mat-icon style="padding-left: 50px;">contact_mail</mat-icon>
            <span> Create Account (Flávia)</span>
          </button>

          <button class="menuItem subItem" mat-button routerLink="/user-modify-flavia" (click)="drawer.toggle()">
            <mat-icon style="padding-left: 50px;">search</mat-icon>
            <span>Search User (Flávia)</span>
          </button>
        </ng-container>


        <button class="menuItem" mat-button (click)="toggleMill()">
          <span>Mill Flavia</span>
          <mat-icon class="mat-icon-rtl-mirror">
            {{isMillOpen ? 'expand_less' : 'expand_more'}}
          </mat-icon>
        </button>
        <ng-container *ngIf="isMillOpen">
          <button class="menuItem subItem" mat-button routerLink="/mill-fla" (click)="drawer.toggle()">
            <mat-icon style="padding-left: 50px;"> home</mat-icon>
            <span> Home</span>
          </button>
        
          <button class="menuItem subItem" mat-button routerLink="/mill-fla-insert" (click)="drawer.toggle()">
            <mat-icon style="padding-left: 50px;"> add_box</mat-icon>
            <span> Insert</span>
          </button>
        
          <button class="menuItem subItem" mat-button routerLink="/mill-fla-search" (click)="drawer.toggle()">
            <mat-icon style="padding-left: 50px;"> search</mat-icon>
            <span> Search / Delete / Modify</span>
          </button>
        
        </ng-container>

        

        <button class="menuItem" mat-button (click)="toggleEduardo()">
          <!-- <mat-icon>kayaking</mat-icon> -->
          <span>Mill Eduardo</span>
          <mat-icon class="mat-icon-rtl-mirror">
            {{isUsersOpen ? 'expand_less' : 'expand_more'}}
          </mat-icon>
          </button>
          <ng-container *ngIf="isEduardoOpen">
            <button class="menuItem subItem" mat-button routerLink="/mill-edu" (click)="drawer.toggle()">
              <mat-icon style="padding-left: 50px;"> home </mat-icon>
              <span> Mill Home</span>
            </button>
            
            <button class="menuItem subItem" mat-button routerLink="/mill-edu-lis" (click)="drawer.toggle()">
              <mat-icon style="padding-left: 50px;"> list_alt</mat-icon>
              <span> Listagem Geral de Mill</span>
            </button>
            
            <button class="menuItem subItem" mat-button routerLink="/mill-edu-ins" (click)="drawer.toggle()">
              <mat-icon style="padding-left: 50px;"> contact_mail</mat-icon>
              <span> Cadastro</span>
            </button>
            
            <button class="menuItem subItem" mat-button routerLink="/mill-edu-get" (click)="drawer.toggle()">
              <mat-icon style="padding-left: 50px;"> search</mat-icon>
              <span> Pesquisa</span>
            </button>
            
            <button class="menuItem subItem" mat-button routerLink="/mill-edu-put" (click)="drawer.toggle()">
              <mat-icon style="padding-left: 50px;"> edit</mat-icon>
              <span> Alterar e Excluir</span>
            </button>

        </ng-container>


        <button class="menuItem" mat-button (click)="toggleApp()">
          <span> Aplicacoes</span>
          <mat-icon class="mat-icon-rtl-mirror">
            {{isAppOpen ? 'expand_less' : 'expand_more'}}
          </mat-icon>
        </button>
        <ng-container *ngIf="isAppOpen">
          <button class="menuItem subItem" mat-button routerLink="/app-app-menu" (click)="drawer.toggle()">
            <span style="padding-left: 50px;"> Menu (Flávia)</span>
          </button>

          <button class="menuItem subItem" mat-button routerLink="/app-form" (click)="drawer.toggle()">
            <span style="padding-left: 50px;"> App Form (Flávia)</span>
          </button>

          <button class="menuItem subItem" mat-button routerLink="/app-list" (click)="drawer.toggle()">
            <span style="padding-left: 50px;"> App List (Flávia)</span>
          </button>

          <button class="menuItem subItem" mat-button routerLink="/deletar" (click)="drawer.toggle()">
            <span style="padding-left: 50px;"> App Delete </span>
          </button>
        </ng-container>


        <!-- <button class="menuItem" mat-button routerLink="/users/create" (click)="drawer.toggle()">
    <mat-icon>person</mat-icon> <span>Criar Usuário (Erick)</span>
  </button>

  <button class="menuItem" mat-button routerLink="/users/teste" (click)="drawer.toggle()">
    <mat-icon>person</mat-icon> <span>Criar Usuario Eduardo</span>
  </button>

  <button class="menuItem" mat-button routerLink="/users-modify" (click)="drawer.toggle()">
    <mat-icon>person</mat-icon> <span>Gestão Usuário Eduardo</span>
  </button> -->

      </mat-card-content>
    </mat-card>
  </mat-drawer>

  <mat-drawer-content>
    <mat-card class="container">
      <mat-card-content>
        <router-outlet></router-outlet>
      </mat-card-content>
    </mat-card>
  </mat-drawer-content>

</mat-drawer-container>
