<mat-card>
    <div class="search-box">
        <mat-card-header> SEARCH USER</mat-card-header>
        <mat-card-content>
            <form>
                <mat-form-field>
                    <mat-label> Digite o ID do Usuário </mat-label>
                    <input matInput placeholder="ID" [(ngModel)]="id" name="ID" required>
                </mat-form-field>

                <button mat-raised-button color="primary" (click)="buscarUsuario()"> Consultar</button>
                <button mat-raised-button color="primary" (click)="excluirUsuario()"> Excluir</button>
            </form>
        </mat-card-content>
    </div>
</mat-card>
<br><br>

<div class="table"><app-ps-table class="user-table" title="User Management" [dataSource]="arrayUsers"
    [columnsToDisplay]="['id', 'nome', 'login', 'criado', 'alterado']"></app-ps-table>
</div>