.save-button {
    background-color: #3F51B5;
    color: white;
    margin: 6px;
    border-radius: 18px;
    justify-content: end;
}

.cancel-button {
    background-color: #939397;
    color: white;
    border-radius: 18px;
}

.menuItem {
    background-color: #3F51B5;
    color: white;
    margin: 6px;
    border-radius: 18px;
}

.button-container {
    display: flex;
    margin-top: 20px;
    justify-content: space-between;
}

mat-expansion-panel-header,
mat-label {
    color: #3F51B5;
}

.example-tree-invisible {
    display: none;
}

.example-tree ul,
.example-tree li {
    margin-top: 0;
    margin-bottom: 0;
    list-style-type: none;
}

.example-tree .mat-nested-tree-node div[role=group] {
    padding-left: 40px;
}

.example-tree div[role=group]>.mat-tree-node {
    padding-left: 40px;
}

mat-label {
    font-size: 20px;
}

mat-select {
    font-size: 20px;
    justify-content: center;
    margin:10px;
}

.container-menu {
    border-radius: 10px;
    background-color: white;
    padding: 15px
}

.container {
    padding: 20px;
    border-radius: 10px;
    flex-direction: column;
}

mat-form-field {
    width: 100%;
    height: 85px;
}
span{
    font-size: 22px;
}


