.save-button {
    background-color: #3F51B5;
    color: white;
    margin: 25px
}

.cancel-button {
    background-color: #939397;
    color: white;
}

.container-menu {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: white;
    border-radius: 8px;
}

mat-expansion-panel-header {
    color: #3F51B5;
}

.example-tree-invisible {
    display: none;
}

.example-tree ul,
.example-tree li {
    margin-top: 0;
    margin-bottom: 0;
    list-style-type: none;
}


.example-tree .mat-nested-tree-node div[role=group] {
    padding-left: 40px;
}


.example-tree div[role=group]>.mat-tree-node {
    padding-left: 40px;
}