<div class="container">
  <form>
    <mat-form-field style="height: 100px">
      <mat-label>Search Perfil:</mat-label>
      <mat-select [(ngModel)]="selectedPerfil" name="perfil" (selectionChange)="selectPerfil($event.value)">
        @for (perfilVar of arrayperfilVar; track perfilVar) {
        <mat-option [value]="perfilVar.id">{{perfilVar.nome}}</mat-option>
        }
      </mat-select>
    </mat-form-field>
  </form>

  @if(selectedPerfil){
  <div class="container-menu">
    <mat-expansion-panel class="header-item">

      <mat-expansion-panel-header style="font-size: 24px;">
        Menu
      </mat-expansion-panel-header>

      <mat-tree [dataSource]="dataSource" [treeControl]="treeControl" class="example-tree">
        <mat-tree-node *matTreeNodeDef="let node" matTreeNodeToggle>

          <!-- <mat-checkbox [checked]="node.checked" (change)="selectNode(node)"></mat-checkbox> -->
          <mat-checkbox [(ngModel)]="node.checked" (change)="updateAllComplete(node)" ></mat-checkbox>
          <button mat-icon-button matTreeNodeToggle [attr.aria-label]="'Toggle ' + node.name">
            <mat-icon class="mat-icon-rtl-mirror">
              {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
            </mat-icon>
          </button>
          <span>{{node.name}}</span>
        </mat-tree-node>

        <mat-nested-tree-node *matTreeNodeDef="let node; when: hasChild">
          <div class="mat-tree-node">
            <!-- <mat-checkbox [checked]="node.checked" (change)="selectNode(node)"></mat-checkbox> -->
            <mat-checkbox [(ngModel)]="node.checked" (change)="setAll(node, $event.checked)" [checked]="node.checked" ></mat-checkbox>
            <button mat-icon-button matTreeNodeToggle [attr.aria-label]="'Toggle ' + node.name">
              <mat-icon class="mat-icon-rtl-mirror">
                {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
              </mat-icon>
            </button>
            <span>{{node.name}}</span>
          </div>
          <div [class.example-tree-invisible]="!treeControl.isExpanded(node)" role="group">
            <ng-container matTreeNodeOutlet></ng-container>
          </div>
        </mat-nested-tree-node>
      </mat-tree>

    </mat-expansion-panel>

    <div class="button-container">
      <button mat-button class="save-button" (click)="saveAcessos()">Salvar</button>
    </div>
  </div>

  <div *ngIf="savedAcessos.length > 0">
    <h3>Acessos salvos:</h3>
    <ul>
      <li *ngFor="let acesso of savedAcessos">
        Perfil: {{ acesso.idPerfil }} - Aplicação: {{ acesso.idAplicacao }}
      </li>
    </ul>
  </div>
  }
</div>