.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 75vh;
    width: 100%;
}

mat-card {
    max-width: 500px;
}

mat-card-header {
    color: #3F51B5;
    padding-bottom: 14px;
    padding-top: 30px;
    justify-content: center;
}

mat-card-content {
    display: flex;
    padding-top: 20px;
    flex-direction: column;

}

mat-form-field {
    padding-bottom: 20px;
    width: 100%;
}

button:hover {
    background-color: #3f51b5e0;
}

button{
    width: 150px;
}