.container {
    display: flex;
    justify-content: center;
    padding-top: 20px;
}

.menu {
    display: flex;
    justify-content: space-around;
}

.menuItem::after {
    content: "";
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 100%;
    height: 2px;
    transition: background-color 0.4s ease;
}

.menuItem:hover::after {
    background-color: #3F51B5;
}

span {
    color: #3F51B5;
}