<h1>Home</h1>
<button mat-raised-button color="primary" routerLink="users">
    <mat-icon>person</mat-icon><span>Usuários</span>
</button>
ㅤ
<button mat-raised-button color="primary" routerLink="/cadastro-flavia">
    <mat-icon>contact_mail</mat-icon><span>Cadastro de Usuários Flávia</span>
</button>
ㅤ
<button mat-raised-button color="primary" routerLink="/users/create">
    <mat-icon>person_add</mat-icon><span>Cadastro de Usuários Erick</span>
</button>
ㅤ
<button mat-raised-button color="primary" routerLink="/users/teste">
    <mat-icon>kayaking</mat-icon><span>Minha pagina Teste</span>
</button>
ㅤ
<button mat-raised-button color="primary" routerLink="/users-modify">
    <mat-icon>person_add</mat-icon><span>Gestão de Usuário</span>
</button>