<h1>Home</h1>
<button mat-raised-button color="primary" routerLink="users">
  <mat-icon>person</mat-icon><span>Usuários</span>
</button>
ㅤ

<button mat-raised-button color="primary" routerLink="/user-modify-flavia">
  <span>Consultar Usuários</span>
</button>
ㅤ

<button mat-raised-button color="primary" routerLink="/cadastro-flavia">
  <mat-icon>contact_mail</mat-icon><span>Cadastro de Usuários Flávia</span>
</button>
ㅤ

<button mat-raised-button color="primary" routerLink="/mill-fla">
  <span>Mill</span>
</button>
ㅤ
<button mat-raised-button color="primary" routerLink="/mill-edu">
  <span>Mill-Edu</span>
</button>
ㅤ
<button mat-raised-button color="primary" routerLink="/mill-edu-ins">
  <span>Mill-Edu-Ins</span>
</button>
ㅤ
<button mat-raised-button color="primary" routerLink="/mill-edu-get">
  <span>Mill-Edu-Get</span>
</button>
ㅤ
<button mat-raised-button color="primary" routerLink="/mill-edu-put">
  <span>Mill-Edu-Put</span>
</button>
ㅤ
<button mat-raised-button color="primary" routerLink="/mill-edu-lis">
  <span>Mill-Edu-Lis</span>
</button>
