.menu li {
    color: #8a2be2;
    display: inline-block;
    padding-right: 25px;
    height: 50px;
}
.menu li:hover {
    background-color: #4f93ed;
    color: #ffffff;
}
.menu ul {
    padding-top: 10px;
    list-style: none;
    font-size: larger;
}
.menu {
    width: 100%;
    background-color: antiquewhite;
    height: 80px;
    display: flex;
    padding-top: 10px;
}