.criar {
    margin: 20px;
    border-radius: 5px;
}

mat-form-field{
    width: 430px;
    display:flex;
}

.container {
    border-radius: 5px;
    flex-direction: column;
    align-items: center;
}

mat-card-header {
    color: #3f51b5;
    font-size: 20px;
}

mat-card {
    background-color:  #fff;
    padding: 20px;
    border-radius: 5px;
}


