<div class="container">
  <mat-card>
    <mat-card-header class="header">Criar Nova Aplicação</mat-card-header>
    <mat-card-content class="criar">

      <mat-form-field>
        <mat-label>Nome:</mat-label>
        <input matInput type="text" id="nome" [(ngModel)]="aplicacoes.nome">
      </mat-form-field>

      <mat-form-field>
        <mat-label>Descrição:</mat-label>
        <input matInput type="text" id="descricao" [(ngModel)]="aplicacoes.descricao">
      </mat-form-field>

      <mat-form-field>
        <mat-label>Command:</mat-label>
        <input matInput type="text" id="command" [(ngModel)]="aplicacoes.command">
      </mat-form-field>

      <mat-form-field>
        <mat-label>IdParent:</mat-label>
        <input matInput type="text" id="idParent" [(ngModel)]="aplicacoes.idParent">
      </mat-form-field>

      <mat-checkbox [(ngModel)]="aplicacoes.isParent" name="isParent">
        IsParent?
      </mat-checkbox>
      <br><br>

      <button mat-raised-button color="primary" (click)="createApp()">Criar Aplicação</button>
    </mat-card-content>
  </mat-card>

</div>