<div class="container">
    <button class="menuItem" mat-button routerLink="/per-ins">
      <span>Cadastro de Perfil</span>
    </button>
    ㅤ
    <button class="menuItem" mat-button routerLink="/per-get-all">
      <span>Listagem Geral de Perfil</span>
    </button>
    ㅤ
    <button class="menuItem" mat-button routerLink="/per-get">
      <span>Pesquisa Individual de Perfil</span>
    </button>
    ㅤ
    <button class="menuItem" mat-button routerLink="/per-put">
      <span>Alterar/Excluir Perfil</span>
    </button>
    ㅤ
  </div>
  