<div class="container">
    <div class="insertMill">
        <mat-card-header>
            <mat-card-title>Insert Mill</mat-card-title>
        </mat-card-header>

        <mat-card-content>

            <form>
                <mat-form-field>
                    <input matInput placeholder="ShortName" [(ngModel)]="mill.shortName" name="ShortName">
                </mat-form-field>

                <mat-form-field>
                    <input matInput placeholder="Mill ID" [(ngModel)]="mill.millID" name="millID">
                </mat-form-field>

                <button mat-raised-button color="primary" (click)="createMill()">Create</button>
            </form>
        </mat-card-content>
    </div>

    <app-ps-table class="ps-table" title="Mill Management" [dataSource]="arrayMill"
        [columnsToDisplay]="['id', 'shortName', 'criado', 'alterado']"></app-ps-table>
</div>